<% include layout/header.ejs %>
<div class="main">
  <div class="container">
    <div class="content">
      <div class="post">
        <div class="top">
          <h2>Заголовок поста</h2>
        </div>
        <div class="body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequatur, placeat consectetur non minima tempore sunt. Maxime
            nisi, blanditiis accusamus fugiat dolores quidem molestias corporis
            delectus, consectetur debitis quisquam quo amet.
          </p>
        </div>
        <div class="bottom">
          <div class="author">Автор: <a href="/">ДаникДура</a></div>
          <a href="/">Комментарий</a>
        </div>
      </div>
      <div class="post">
        <div class="top">
          <h2>Заголовок поста</h2>
        </div>
        <div class="body">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam
            iure dolorum porro commodi, deserunt voluptatem vel velit quod
            dolores omnis est perferendis odio magnam at ad, nulla, cumque sunt
            fugit?
          </p>
        </div>
        <div class="bottom">
          <div class="author">Автор: <a href="/">ДаникДура</a></div>
          <a href="/">Комментарий</a>
        </div>
      </div>
    </div>
    <% include layout/sidebar.ejs %>
  </div>
</div>
<% include layout/footer.ejs %>
